<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Ngọc Tịnh </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/" class="nav-item nav-link">Khóa Học</a>
                <a href="/courses/create" class="nav-item nav-link">Đăng khóa Học</a>
                <a href="/me/stored/courses" class="nav-item nav-link">Khóa Học Của Tôi</a>
            </div>
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="/me/stored/user" class="dropdown-item" type="button">Quản Lý Tài Khoản</a></li>
                <li><button class="dropdown-item" type="button">Quản Lý Nhân Viên</button></li>
                <li><button class="dropdown-item" type="button">Quản Lý Tình Yêu</button></li>
            </ul>
            </div>
            
            <div class="navbar-nav ms-auto">
                <a href="/auth/getregister" class="nav-item nav-link">Đăng Ký</a>
                <a href="/auth/getlogin" class="nav-item nav-link">Đăng Nhập</a>
            </div>
        </div>
    </div>
</nav>